{{ $data := .Data }}
{{ $h := .Helpers }}

<h1>Please Insert Coin</h1>

<hr />

<h2>
  Available Wallet Balance:
  <span id="wallet-bal">{{ $data.WalletAvailBal }}/{{ $data.WalletBal }}</span>
</h2>

<hr />

<form>
  <div class="form-check">
    {{ if $data.UseWallet }}
    <input class="form-check-input" type="checkbox" value="" checked="checked" id="use-wallet-bal-checkbox" />
    {{ else }}
    <input class="form-check-input" type="checkbox" value="" id="use-wallet-bal-checkbox" />
    {{ end }}

    <label class="form-check-label" for="flexCheckDefault">
      Use Wallet Balance?
    </label>
  </div>
</form>

<hr />

<h2>Total Amount: <span id="total-amount">{{ $data.PaymentTotal }}</span></h2>

<hr />
{{ if $data.PaymentTotal }}
<a href='{{ $h.UrlForRoute "payment:done" }}'>Done Payment</a>
{{ else }}
<a href='{{ $h.UrlForRoute "payment:cancel" }}'>Cancel Purchase</a>
{{ end }}

<script>
  window.USE_WALLET_URL = '{{ $h.UrlForRoute "use:wallet" }}';
  window.PaymentTotal = {{$data.PaymentTotal}};
  window.WalletDebit = {{$data.WalletDebit}};
  window.WalletBal = {{$data.WalletBal}};
  window.WalletAvailBal = {{$data.WalletAvailBal}};
</script>
